In [63]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge
from statistics import stdev
import math
import scipy
import numpy as np

In [2]:
#Ignoring XGBoost warnings
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn

#Ignoring SciKit-Learn warnings
import warnings
from sklearn.exceptions import DataConversionWarning
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [3]:
data = pd.read_csv('training.csv')
data.head()

   player_id   player_name runs_scored wickets runs_conceded catches stumpings   match_date                opposition  match_id
0          1   Pat Cummins         DNB       3            28       0         0  19 Oct 2011  v South Africa Centurion         1
1          2   Steve Smith         DNB       -             -       0         0  19 Oct 2011  v South Africa Centurion         1
2         10   Mitch Marsh          8*       1            19       1         0  19 Oct 2011  v South Africa Centurion         1
3         13  David Warner          20       -             -       0         0  19 Oct 2011  v South Africa Centurion         1
4          1   Pat Cummins         11*       1            73       0         0  23 Oct 2011   v South Africa Gqeberha         2

In [4]:
data.dtypes

player_id         int64
player_name      object
runs_scored      object
wickets          object
runs_conceded    object
catches          object
stumpings        object
match_date       object
opposition       object
match_id          int64
dtype: object

In [5]:
data['match_date'] = pd.to_datetime(data['match_date'])
data.head()

   player_id   player_name runs_scored wickets runs_conceded catches stumpings match_date                opposition  match_id
0          1   Pat Cummins         DNB       3            28       0         0 2011-10-19  v South Africa Centurion         1
1          2   Steve Smith         DNB       -             -       0         0 2011-10-19  v South Africa Centurion         1
2         10   Mitch Marsh          8*       1            19       1         0 2011-10-19  v South Africa Centurion         1
3         13  David Warner          20       -             -       0         0 2011-10-19  v South Africa Centurion         1
4          1   Pat Cummins         11*       1            73       0         0 2011-10-23   v South Africa Gqeberha         2

In [6]:
data['match_id'].nunique()

557

In [7]:
data['player_id'].nunique()

30

In [8]:
data['out_notout_dnb'] = data['runs_scored'].apply(lambda x: 1 if x[-1] == '*' else (2 if x in ('DNB','TDNB') else 0))
data.head(5)

   player_id   player_name runs_scored wickets runs_conceded catches stumpings match_date                opposition  match_id  out_notout_dnb
0          1   Pat Cummins         DNB       3            28       0         0 2011-10-19  v South Africa Centurion         1               2
1          2   Steve Smith         DNB       -             -       0         0 2011-10-19  v South Africa Centurion         1               2
2         10   Mitch Marsh          8*       1            19       1         0 2011-10-19  v South Africa Centurion         1               1
3         13  David Warner          20       -             -       0         0 2011-10-19  v South Africa Centurion         1               0
4          1   Pat Cummins         11*       1            73       0         0 2011-10-23   v South Africa Gqeberha         2               1

In [9]:
data['runs_scored'] = data['runs_scored'].apply(lambda x : 0 if x in ('DNB','TDNB') else int(x.replace('*','')))
data['runs_scored'] = data['runs_scored'].astype('int')

In [10]:
data['weekday'] = data.match_date.dt.weekday
data['year'] = data.match_date.dt.year
data['day'] = data.match_date.dt.day
data['week_number'] = data.match_date.dt.isocalendar().week

In [11]:
data['wickets'] = data['wickets'].apply(lambda x: 0 if x == '-' else int(x))
data['runs_conceded'] = data['runs_conceded'].apply(lambda x: 0 if x == '-' else int(x))
data['catches'] = data['catches'].apply(lambda x: 0 if x == '-' else int(x))
data['stumpings'] = data['stumpings'].apply(lambda x: 0 if x == '-' else int(x))
data.head()

   player_id   player_name  runs_scored  wickets  runs_conceded  catches  stumpings match_date                opposition  match_id  out_notout_dnb  weekday  year  day  week_number
0          1   Pat Cummins            0        3             28        0          0 2011-10-19  v South Africa Centurion         1               2        2  2011   19           42
1          2   Steve Smith            0        0              0        0          0 2011-10-19  v South Africa Centurion         1               2        2  2011   19           42
2         10   Mitch Marsh            8        1             19        1          0 2011-10-19  v South Africa Centurion         1               1        2  2011   19           42
3         13  David Warner           20        0              0        0          0 2011-10-19  v South Africa Centurion         1               0        2  2011   19           42
4          1   Pat Cummins           11        1             73        0          0 2011-10-23   v South Africa Gqeberha         2               1        6  2011   23           42

In [12]:
data['opposition'] = data['opposition'].apply(lambda x: ' '.join(x.split(' ')[1:]))
data.sort_values('match_date', inplace = True)

In [13]:
data.head()

      player_id   player_name  runs_scored  wickets  runs_conceded  catches  stumpings match_date            opposition  match_id  out_notout_dnb  weekday  year  day  week_number
1380         16  Rohit Sharma            0        0              0        1          0 2007-06-23       Ireland Belfast       244               2        5  2007   23           25
1381         16  Rohit Sharma            8        0              3        1          0 2007-06-26  South Africa Belfast       245               0        1  2007   26           26
1382         16  Rohit Sharma            1        0              0        0          0 2007-10-05   Australia Hyderabad       246               0        4  2007    5           40
1383         16  Rohit Sharma           52        0              0        1          0 2007-11-18       Pakistan Jaipur       247               0        6  2007   18           46
1384         16  Rohit Sharma           29        0              0        0          0 2008-02-03    Australia Brisbane       248               0        6  2008    3            5

In [14]:
# dummy_opp = pd.get_dummies(data['opposition'],drop_first = True,dtype = int, prefix = 'opp')
# new_data = pd.concat([data,dummy_opp], axis =1)
# new_data.columns = [col.lower().replace(' ','_') for col in new_data.columns]
# new_data.drop(columns = ['opposition'],axis = 1, inplace = True)
# new_data.shape

In [15]:
players_list = list(set(data['player_id']))
final_data = pd.DataFrame()
for player_name in players_list:
    player_data = data[data['player_id'] == player_name]
    player_data.sort_values('match_date',inplace = True)
    player_data['next_runs'] = player_data['runs_scored'].shift(-1)
    player_data['next_wickets'] = player_data['wickets'].shift(-1)
    final_data = pd.concat([final_data, player_data])
    final_data.reset_index(drop = True,inplace = True)
    # print(final_data.tail())

In [18]:
oppositions_list = ['South Africa', 'Ireland', 'England', 'India', 'New Zealand', 'Scotland', 'Pakistan', 'Bangladesh', 'Afghanistan', 
                    'West Indies', 'Sri Lanka', 'Zimbabwe', 'Kenya', 'Canada', 'Australia', 'Hong Kong', 'U.A.E.', 'Nepal','Netherlands']
final_data['opposition_team'] = final_data['opposition'].apply(lambda x : x.split()[0] if x.split()[0] in oppositions_list else ' '.join(x.split()[0:2]))
final_data['venue'] = final_data['opposition'].apply(lambda x: x.replace(x.split()[0],'') if x.split()[0] in oppositions_list else x.replace(' '.join(x.split()[0:2]),''))
final_data.drop(columns= ['opposition','match_date'],inplace = True)

In [19]:
final_data.head()

   player_id  player_name  runs_scored  wickets  runs_conceded  catches  stumpings  match_id  out_notout_dnb  weekday  year  day  week_number  next_runs  next_wickets opposition_team       venue
0          1  Pat Cummins            0        3             28        0          0         1               2        2  2011   19           42       11.0           1.0    South Africa   Centurion
1          1  Pat Cummins           11        1             73        0          0         2               1        6  2011   23           42        6.0           1.0    South Africa    Gqeberha
2          1  Pat Cummins            6        1             49        0          0         3               1        4  2011   28           43        0.0           1.0    South Africa      Durban
3          1  Pat Cummins            0        1             11        0          0         4               2        5  2012   23           25        4.0           1.0         Ireland     Belfast
4          1  Pat Cummins            4        1             53        0          0         5               0        4  2012   29           26        1.0           2.0         England      Lord's

In [20]:
final_data['opposition_team'] = final_data.opposition_team.astype('category').cat.codes
final_data['venue'] = final_data.venue.astype('category').cat.codes

In [92]:
final_data_bat = final_data[['player_id', 'player_name', 'runs_scored', 'catches', 'stumpings', 'match_id', 'out_notout_dnb', 
 'weekday', 'year', 'day', 'week_number', 'next_runs', 'opposition_team', 'venue']]
final_data_bowl = final_data[['player_id', 'player_name', 'runs_scored', 'wickets', 'runs_conceded', 'catches', 
 'match_id', 'out_notout_dnb', 'weekday', 'year', 'day', 'week_number', 'next_wickets', 'opposition_team', 'venue']]

In [93]:
models = pd.DataFrame()
models1 = pd.DataFrame()
players = list(set(final_data['player_name']))

for player in players:
    # print(player)
    player_data_bat = final_data_bat[final_data_bat['player_name']==player]
    # print(player_data_bat.shape)

    player_data_bat = player_data_bat.dropna()
    y_runs = player_data_bat['next_runs']
    X_bat = player_data_bat.drop(columns = ['next_runs'], axis = 1)
    X_runs = X_bat[X_bat.columns[2:]]
    # print(X_runs.head())
    # print(y_runs.head())
    X_train_runs, X_test_runs, y_train_runs,y_test_runs = train_test_split(X_runs, y_runs, random_state=42)
    ridge_runs = pd.DataFrame()
    
    for j in range(0, 101):
        points_runs = Ridge(alpha=j).fit(X_train_runs, y_train_runs)
        ridge_df_runs = pd.DataFrame({'Alpha': pd.Series(j), 'Train': pd.Series(points_runs.score(X_train_runs, y_train_runs)),
                                       'Test': pd.Series(points_runs.score( X_test_runs, y_test_runs))})
        ridge_runs = pd.concat([ridge_runs,ridge_df_runs])

    # print(ridge_runs.head())
    ridge_runs['Average'] = ridge_runs[['Train', 'Test']].mean(axis=1)

    try:
        # Find the alpha value with the highest average score
        k_runs = ridge_runs[ridge_runs['Average'] == ridge_runs['Average'].max()]['Alpha'][0]
        k_runs = k_runs.head(1)[0]
    except:
        k_runs = ridge_runs[ridge_runs['Average'] == ridge_runs['Average'].max()]['Alpha'][0]

    # Train the model with the best alpha value
    next_runs = Ridge(alpha=k_runs)
    next_runs.fit(X_train_runs, y_train_runs)
    sd_next_runs = stdev(X_train_runs['runs_scored'].astype('float'))

    latest = X_bat.tail(1)
    # print(latest)
    latest['next_runs'] = next_runs.predict(latest[latest.columns[2:]])
    latest['next_runs_ll_95'], latest['next_runs_ul_95'] = latest['next_runs'] - scipy.stats.norm.ppf(.95) * ( 
        sd_next_runs / math.sqrt(len(X_train_runs))), latest['next_runs'] + scipy.stats.norm.ppf(.95) * ( sd_next_runs / math.sqrt(len(X_train_runs)))

    models = pd.concat([models,latest])

for player in players:

    player_data_bowl = final_data_bowl[final_data_bowl['player_name']==player]
    # print(player_data_bat.shape)

    player_data_bowl = player_data_bowl.dropna()
    y_bowl = player_data_bowl['next_wickets']
    X_wicket = player_data_bowl.drop(columns = ['next_wickets'], axis = 1)
    X_bowl = X_wicket[X_wicket.columns[2:]]
    # print(X_runs.head())
    # print(y_runs.head())
    X_train_bowl, X_test_bowl, y_train_bowl,y_test_bowl = train_test_split(X_bowl, y_bowl, random_state=42)
    ridge_bowl = pd.DataFrame()
    
    for j in range(0, 101):
        points_bowl = Ridge(alpha=j).fit(X_train_bowl, y_train_bowl)
        ridge_df_bowl = pd.DataFrame({'Alpha': pd.Series(j), 'Train': pd.Series(points_bowl.score(X_train_bowl, y_train_bowl)),
                                       'Test': pd.Series(points_bowl.score( X_test_bowl, y_test_bowl))})
        ridge_bowl = pd.concat([ridge_bowl,ridge_df_bowl])

    # print(ridge_bowl.head())
    ridge_bowl['Average'] = ridge_bowl[['Train', 'Test']].mean(axis=1)

    try:
        # Find the alpha value with the highest average score
        k_bowl = ridge_bowl[ridge_bowl['Average'] == ridge_bowl['Average'].max()]['Alpha'][0]
        k_bowl = k_bowl.head(1)[0]
    except:
        k_bowl = ridge_bowl[ridge_bowl['Average'] == ridge_bowl['Average'].max()]['Alpha'][0]

    # Train the model with the best alpha value
    next_wickets = Ridge(alpha=k_bowl)
    next_wickets.fit(X_train_bowl, y_train_bowl)
    sd_next_wickets = stdev(X_train_bowl['wickets'].astype('float'))



    latest = X_wicket.tail(1)
    # print(latest)
    latest['next_wickets'] = next_wickets.predict(latest[latest.columns[2:]])
    latest['next_wickets_ll_95'], latest['next_wickets_ul_95'] = latest['next_wickets'] - scipy.stats.norm.ppf(.95) * ( 
        sd_next_wickets / math.sqrt(len(X_train_bowl))), latest['next_wickets'] + scipy.stats.norm.ppf(.95) * ( sd_next_wickets / math.sqrt(len(X_train_bowl)))
    
    models1 = pd.concat([models1,latest])

In [122]:
ridge_bowl

   Alpha     Train      Test   Average
0      0  0.314150  0.015234  0.164692
0      1  0.314133  0.016384  0.165258
0      2  0.314090  0.017377  0.165734
0      3  0.314029  0.018247  0.166138
0      4  0.313955  0.019018  0.166486
0      5  0.313871  0.019708  0.166790
0      6  0.313782  0.020332  0.167057
0      7  0.313688  0.020900  0.167294
0      8  0.313592  0.021421  0.167507
0      9  0.313493  0.021903  0.167698
0     10  0.313394  0.022350  0.167872
0     11  0.313295  0.022767  0.168031
0     12  0.313195  0.023157  0.168176
0     13  0.313096  0.023525  0.168310
0     14  0.312998  0.023871  0.168434
0     15  0.312900  0.024199  0.168550
0     16  0.312803  0.024511  0.168657
0     17  0.312708  0.024808  0.168758
0     18  0.312613  0.025090  0.168852
0     19  0.312520  0.025361  0.168940
0     20  0.312428  0.025619  0.169024
0     21  0.312337  0.025867  0.169102
0     22  0.312247  0.026106  0.169176
0     23  0.312159  0.026335  0.169247
0     24  0.312071  0.026555  0.169313
0     25  0.311985  0.026768  0.169377
0     26  0.311900  0.026973  0.169437
0     27  0.311816  0.027171  0.169494
0     28  0.311734  0.027363  0.169548
0     29  0.311652  0.027548  0.169600
0     30  0.311572  0.027728  0.169650
0     31  0.311492  0.027902  0.169697
0     32  0.311414  0.028070  0.169742
0     33  0.311337  0.028234  0.169785
0     34  0.311260  0.028393  0.169827
0     35  0.311185  0.028547  0.169866
0     36  0.311111  0.028697  0.169904
0     37  0.311037  0.028842  0.169940
0     38  0.310965  0.028984  0.169974
0     39  0.310893  0.029122  0.170007
0     40  0.310822  0.029256  0.170039
0     41  0.310752  0.029386  0.170069
0     42  0.310683  0.029514  0.170098
0     43  0.310615  0.029637  0.170126
0     44  0.310548  0.029758  0.170153
0     45  0.310481  0.029876  0.170178
0     46  0.310415  0.029991  0.170203
0     47  0.310350  0.030103  0.170226
0     48  0.310285  0.030212  0.170248
0     49  0.310221  0.030318  0.170270
0     50  0.310158  0.030422  0.170290
0     51  0.310096  0.030524  0.170310
0     52  0.310034  0.030623  0.170329
0     53  0.309973  0.030720  0.170346
0     54  0.309913  0.030814  0.170364
0     55  0.309853  0.030907  0.170380
0     56  0.309794  0.030997  0.170395
0     57  0.309735  0.031085  0.170410
0     58  0.309677  0.031171  0.170424
0     59  0.309619  0.031256  0.170438
0     60  0.309563  0.031338  0.170450
0     61  0.309506  0.031419  0.170462
0     62  0.309450  0.031498  0.170474
0     63  0.309395  0.031575  0.170485
0     64  0.309340  0.031650  0.170495
0     65  0.309286  0.031724  0.170505
0     66  0.309232  0.031796  0.170514
0     67  0.309178  0.031867  0.170523
0     68  0.309126  0.031936  0.170531
0     69  0.309073  0.032003  0.170538
0     70  0.309021  0.032069  0.170545
0     71  0.308970  0.032134  0.170552
0     72  0.308918  0.032198  0.170558
0     73  0.308868  0.032260  0.170564
0     74  0.308817  0.032320  0.170569
0     75  0.308767  0.032380  0.170574
0     76  0.308718  0.032438  0.170578
0     77  0.308669  0.032495  0.170582
0     78  0.308620  0.032551  0.170586
0     79  0.308572  0.032606  0.170589
0     80  0.308524  0.032659  0.170592
0     81  0.308476  0.032712  0.170594
0     82  0.308429  0.032763  0.170596
0     83  0.308382  0.032813  0.170598
0     84  0.308335  0.032863  0.170599
0     85  0.308289  0.032911  0.170600
0     86  0.308243  0.032958  0.170601
0     87  0.308198  0.033005  0.170601
0     88  0.308152  0.033050  0.170601
0     89  0.308107  0.033094  0.170601
0     90  0.308063  0.033138  0.170600
0     91  0.308018  0.033180  0.170599
0     92  0.307974  0.033222  0.170598
0     93  0.307930  0.033263  0.170597
0     94  0.307887  0.033303  0.170595
0     95  0.307843  0.033342  0.170593
0     96  0.307800  0.033381  0.170591
0     97  0.307758  0.033419  0.170588
0     98  0.307715  0.033455  0.170585
0     99  0.307673  0.033492  0.170582
0    100  0.307631  0.033527  0.170579

In [94]:
models.head()

      player_id     player_name  runs_scored  catches  stumpings  match_id  out_notout_dnb  weekday  year  day  week_number  opposition_team  venue  next_runs  next_runs_ll_95  next_runs_ul_95
1773         19     Virat Kohli            0        1          0       458               2        6  2023   17           37               15     24  42.602228        37.700663        47.503793
299           4     Josh Inglis           45        1          0        76               0        4  2023   22           38                6     58   5.620138       -11.729755        22.970030
506           9     Travis Head           38        0          0       181               0        1  2023   12           37               14     68  56.022773        47.191392        64.854155
2403         27  Mohammed Shami            0        0          0        76               2        4  2023   22           38                1     58   3.211596         2.284840         4.138352
374           7   Cameron Green           19        0          0       162               0        6  2023   24           38                6     43  11.656605         1.524956        21.788254

In [95]:
models1.head()

      player_id     player_name  runs_scored  wickets  runs_conceded  catches  match_id  out_notout_dnb  weekday  year  day  week_number  opposition_team  venue  next_wickets  next_wickets_ll_95  next_wickets_ul_95
1773         19     Virat Kohli            0        0              0        1       458               2        6  2023   17           37               15     24     -0.009562           -0.023064            0.003939
299           4     Josh Inglis           45        0              0        1        76               0        4  2023   22           38                6     58      0.000000            0.000000            0.000000
506           9     Travis Head           38        2             39        0       181               0        1  2023   12           37               14     68      0.081532           -0.092755            0.255819
2403         27  Mohammed Shami            0        5             51        0        76               2        4  2023   22           38                1     58      1.508494            1.238359            1.778628
374           7   Cameron Green           19        2            103        0       162               0        6  2023   24           38                6     43      0.344068           -0.257667            0.945802

In [113]:
prediction = pd.merge(models[['player_id','next_runs','next_runs_ll_95','next_runs_ul_95']],models1[['player_id','next_wickets','next_wickets_ll_95','next_wickets_ul_95']], how = 'inner', on = ['player_id'] )

In [114]:
prediction['next_runs'] = round(prediction['next_runs'], 0)
prediction['next_runs_ll_95'] = round(prediction['next_runs_ll_95'], 0)
prediction['next_runs_ul_95'] = round(prediction['next_runs_ul_95'], 0)

prediction['next_wickets'] = round(prediction['next_wickets'], 0)
prediction['next_wickets_ll_95'] = round(prediction['next_wickets_ll_95'], 0)
prediction['next_wickets_ul_95'] = round(prediction['next_wickets_ul_95'], 0)


prediction['next_wickets'] = np.where(
    prediction['next_wickets'] < 0,
    0,
    prediction['next_wickets']
)
prediction['next_wickets_ll_95'] = np.where(
    prediction['next_wickets_ll_95'] < 0,
    0,
    prediction['next_wickets_ll_95']
)
prediction['next_wickets_ul_95'] = np.where(
    prediction['next_wickets_ul_95'] < 0,
    0,
    prediction['next_wickets_ul_95']

)

prediction['next_runs'] = np.where(
    prediction['next_runs'] < 0,
    0,
    prediction['next_runs']
)
prediction['next_runs_ll_95'] = np.where(
    prediction['next_runs_ll_95'] < 0,
    0,
    prediction['next_runs_ll_95']
)
prediction['next_runs_ul_95'] = np.where(
    prediction['next_runs_ul_95'] < 0,
    0,
    prediction['next_runs_ul_95']

)

In [115]:
prediction

    player_id  next_runs  next_runs_ll_95  next_runs_ul_95  next_wickets  next_wickets_ll_95  next_wickets_ul_95
0          19       43.0             38.0             48.0          -0.0                -0.0                 0.0
1           4        6.0              0.0             23.0           0.0                 0.0                 0.0
2           9       56.0             47.0             65.0           0.0                -0.0                 0.0
3          27        3.0              2.0              4.0           2.0                 1.0                 2.0
4           7       12.0              2.0             22.0           0.0                -0.0                 1.0
5           5       27.0             20.0             35.0           1.0                 0.0                 1.0
6          25        3.0              2.0              3.0           1.0                 0.0                 2.0
7          11       33.0             28.0             38.0           1.0                 1.0                 1.0
8          15       10.0              9.0             12.0           2.0                 1.0                 2.0
9           6       31.0             20.0             41.0          -0.0                -0.0                -0.0
10          8        0.0              0.0             -0.0           1.0                 0.0                 1.0
11         18       74.0             58.0             89.0           0.0                 0.0                 0.0
12         12       21.0             15.0             28.0           1.0                 1.0                 1.0
13         28        0.0              0.0              0.0           2.0                 2.0                 2.0
14         26        1.0              0.0              2.0           2.0                 2.0                 2.0
15         17       21.0             15.0             27.0           1.0                 1.0                 1.0
16         29       47.0             36.0             58.0           0.0                 0.0                 0.0
17         14        3.0              2.0              4.0           2.0                 1.0                 2.0
18         10       35.0             30.0             41.0          -0.0                -0.0                 0.0
19         30       12.0              5.0             20.0           0.0                 0.0                 0.0
20         23        5.0              1.0              8.0           2.0                 1.0                 2.0
21         16       60.0             54.0             66.0          -0.0                -0.0                -0.0
22         13       56.0             50.0             63.0           0.0                 0.0                 0.0
23         20       50.0             41.0             60.0           0.0                 0.0                 0.0
24         22       12.0             10.0             15.0           1.0                 1.0                 1.0
25         24        4.0              3.0              4.0           2.0                 1.0                 2.0
26          1        8.0              7.0             10.0           1.0                 1.0                 1.0
27          3       23.0             17.0             29.0           0.0                 0.0                 0.0
28         21       58.0             50.0             66.0           0.0                 0.0                 0.0
29          2       43.0             38.0             49.0           0.0                -0.0                 0.0

In [118]:
prediction.rename({'next_runs':'runs','next_wickets':'wickets'},axis = 1,inplace = True)
submission = prediction[['player_id','runs','wickets']].sort_values('player_id').reset_index(drop = True)

In [121]:
submission.to_csv('submission.csv',index = False)